@using CsSandbox.Models
@using CsSandboxApi
@model SubmissionsListModel

@{
	var ind = 0;
}

<table class="table table-hover table-striped">
	<thead>
		<tr>
			<th></th>
			<th>Timestamp</th>
			<th>Elapsed</th>
			<th>ID</th>
			<th>State</th>
			<th>Verdict</th>
		</tr>
	</thead>
	@foreach (var detail in  Model.Submissions)
	{
		ind++;
		var name = string.IsNullOrWhiteSpace(detail.DisplayName) ? detail.Id : detail.DisplayName;
		<tr class="@SubmissionClass(detail.Status, detail.Verdict)" onclick="openDetails('@detail.Id')" style="cursor: pointer">
			<td>@ind</td>
			<td>@detail.Timestamp.ToString("dd.MM.yy HH:mm:ss")</td>
			<td>@detail.Elapsed</td>
			<td>@name</td>
			<td>@detail.Status.ToString()</td>
			<td>@detail.Verdict.ToString()</td>
		</tr>
	}
</table>

<script>
	function openDetails(id) {
		$.ajax({
			type: 'GET',
			url: 'GetDetails',
			data:
			{
				id: id
			}
		}).always(function(ans) {
			$('#details-field').html(ans);
			$('#details-window').modal('show');
		});
	}
</script>

<div class="modal fade" id="details-window">
	<div class="modal-dialog" style="width: 75%">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Информация по посылке</h4>
			</div>
			<div class="modal-body" id="details-field">
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@helper SubmissionClass(SubmissionStatus status, Verdict verdict)
{
	if (status != SubmissionStatus.Done || verdict == Verdict.SandboxError)
	{
		@("danger")
	}
	else if (verdict == Verdict.Ok)
	{
		@("success")
	}
	else if (verdict == Verdict.CompilationError)
	{
		@("info")
	}
	else
	{
		@("warning")
	}
}